.card-img-top{
    height: 250px;
    width: 200px;
    margin: auto;
    padding-top: 20px;
}
.card:hover{
    transform: translateY(-10px);
}

.offer-img{
    height: 500px;
    width: 400px;
}
.txt{
    margin-left: 500px;
    margin-top: -400px;
}
.offer{
    background: radial-gradient(rgb(255, 255, 255),#f3ddb1);
    margin-top: 80px;
    padding: 30px 0;
}
.btnoffer{
    background-color: rgb(255, 208, 0);
    border-radius: 5px;
    
}
.btn:hover{
 transform: translateY(-10px);
}
.py-5{
    margin: 10px;
}
